.bar {
	fill: steelblue;
}

.bar:hover {
	fill: brown;
}

.title {
	font: bold 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.axis {
	font: 10px sans-serif;
}

.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.x.axis path {
	display: none;
}

#wrapper {
	margin-left: auto;
	margin-right: auto;
	height: auto;
	width: auto;
}

div #piechart {
	width: 620px;
	height: 720px;
	margin: 0 auto
}